html{
  background: #16203b;
}

.Foto {
    padding: 1%;
    width: 90%;
    height: auto;
    background-image: url('img_flowers.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  img{
    max-width: 100%;
    height: 200px;
  }

  .Nombre {
    color: white;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    left: 40%;
    top: 1%;
  
  }

.correo{
  text-decoration: none;
  top: 30%;
  left: 38%;
  position: relative;
  font-size: 28px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;

}

#boton{
  border: none;
  color: black;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 20px 20px;
  cursor: pointer;
}

aside{
  position: relative;
  top: 2%;
  width: 15%;
  left: 1%;
  margin-left: 2%;
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.Datos{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
  left: 5%;
  position: relative;
  width: 50%;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  margin-right: 0px;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

.Contacto{
  display: none;
    position: absolute;
    width: 200px;
    height: 500px;
    padding-left: 0px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 0px;
    top: 5%;
    left: 70%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.botondeenviar{
  border: 1px white ;
  position: absolute;
  width: 140px;
  height: 40px;
  padding-left: 0px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 0px;
  bottom: 2%;
  left: 5%;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}

.botondecerrar{
  display: none;
  border: 1px white ;
  position: absolute;
  width: 140px;
  height: 40px;
  padding-left: 0px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 0px;
  top: 50%;
  left: 85%;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}


.submit{
  border: 1px white ;
  width: 140px;
  height: 40px;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}

.btn {
  border: 2px solid black;
  background-color: #16203b;
  color: black;
  padding: 50px 50px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  align-content: center;
  margin: 40px;
}


.Educacion {
  border-color: white;
  color: white;
}

.Educacion:hover {
  background-color: #08415C;
  color:#16203b;
}


.Tecnologias {
  border-color: white;
  color: white;
}

.Tecnologias:hover {
  background: #08415C;
  color: #16203b;
}


.Objetivos {
  border-color: white;
  color: white;
}

.Objetivos:hover {
  background:#08415C ;
  color:#16203b;
}


h2{
  left: 5%;
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.seccion{
  margin-left: 5%;
  left: 5%;
  height: 50%;
  width: 100%;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}

#portfolio{
  width: 30%;
  height: 30%;
}


.edu{
  padding-top: 50px;
  margin-top: 10%;
  text-align: center;
  text-decoration: none;
  left: 5%;
  position: relative;
  width: 80%;
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  background-color: #08415C;
  height: 200px;
  border-radius: 5px;
}

.tec{
  left: 5%;
  position: relative;
  width: 80%;
  background-color: #08415C;
  height: 200px;
  border-radius: 5px;
}

.obj{
  left: 5%;
  position: relative;
  width: 80%;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  background-color: #08415C;
  height: 200px;
  border-radius: 5px;
  text-align: center;
  padding-top: 100px;
}

.pie{
  background-color: #08415C;
  background-size: cover;
  width: 100%;
  height: 15%;
}

.fa {
  font-size: 24px;
}

.fa-html5 {
  color: orange;
}
